<?xml version="1.0"?>
<SerializedSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <keys>
    <SettingType>Username</SettingType>
    <SettingType>Password</SettingType>
  </keys>
  <values>
    <anyType xsi:type="xsd:string" />
    <anyType xsi:type="xsd:string" />
  </values>
</SerializedSettings>